# Apache for "Don't look at me."
Options -Indexes
# Do not change this line.
RewriteEngine ON
#RewriteCond %{HTTP_HOST} ^(www.)?localhost$
#RewriteRule ^(/)?$ http://localhost/dovenet/trunk/public [L]

#RewriteCond %{HTTP_HOST} ^(www.)?dove.network$
RewriteRule ^(/)?$ http://dove.network/dashboard/public/login [L]